<div>
    <h1>GENETIC SENTENCES</h1>
    <div>
        <p data-id="_sentenceLabel"></p>
    </div>
    <div>
        <p>Sentence found :</p>
        <p data-id="_sentenceFoundLabel"></p>
    </div>
    <com-thanadev-geneticsentence-controllers-userchoicecontroller data-id="_userChoiceElement"></com-thanadev-geneticsentence-controllers-userchoicecontroller>
    <com-thanadev-geneticsentence-controllers-populationcontroller data-id="_populationElement"></com-thanadev-geneticsentence-controllers-populationcontroller>
</div>